.main-card-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    width: 600px;
}

.hdd-icons {
    margin-right: 10px;
}

.export-dropdown {
    width: 450px;
}

.export-container {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
}
