.App {
}

.main-card {
  width: 400px;
  height: 300px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -150px 0 0 -200px;
}

.main-card .content {
  padding: 25px !important;
}

.hdd-icons {
  margin-right: 10px;
}
